* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Raleway:ital,wght@1,100&family=Roboto+Mono:wght@300&family=Signika+Negative&display=swap');

body {
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Signika Negative', sans-serif;

}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#phone-nav {
    display: none;
}


#logo-phone {
    display: none;
    display: flex;
    justify-content: center;
}

#logo-phone-for {
    width: 32%;
    display: none;
}

h1{
    display: flex;
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    font-weight: bold;
    font-size: smaller;
    color: wheat;
}

.menu:active {
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 1%;
    align-items: center;
    border:solid #fff;
    border-radius: 6px;
    gap: 14%;
    background-color: black;
    margin-bottom: 20px;
}

.active {
    border-bottom: 2px solid wheat;
}

.menu a {
    color: wheat;
    text-decoration: none;
    font-size: 20px;
}
#backGround{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-image: url(../img/whiteLine.png);
    background-repeat: no-repeat;
    background-color: rgb(174, 168, 164);

}
#fullHeight{
    width: 100%;
    height: 100%;
}
.fullDiv{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 3vh;
}

.fullVis{
    background-color: rgb(0, 0, 0);

}
.insideDiv{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insideDiv > div{
    width: 30%;
    height:75%;
    background-color: rgb(77, 76, 91);
    border-radius: 20px;
}   
/* ABOVE MAP */
.map-responsive{
    overflow:hidden;
    position:relative;
    width: 100.5%;
}

.map-responsive iframe{
    left:0;
    right:0;
    top:0;
    width:100%;
    height: 100%;
    position:relative;
}
/* FOOTER */
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr ;
    grid-column-gap: 10px;
    grid-row-gap: 2px;
    width: 95%;
    /* position: absolute; */
}

div:has(.parent){
    width: 100%;    
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}
.parent div:first-of-type{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.parent div:first-of-type >img {
    width: 12vw;
}
.div1 { grid-area: 2 / 1 / 3 / 2; }
.div2 { grid-area: 2 / 2 / 3 / 3; }
.div3 { grid-area: 2 / 3 / 3 / 4; }
.div4 { grid-area: 2 / 4 / 3 / 5; }

.text{
    display: flex;
    text-align: center;
    color: whitesmoke;
    font-size: larger;
    margin: 20px;
}

.map-responsive2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
}

.map-responsive2 iframe{
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
}

h4{
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: wheat;
}

footer p {
    color: wheat;
}
.cardContent{
    display: flex;
    width: 100%;
    height: 100%;
}
.cardContent div:first-of-type{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.cardContent div:last-of-type{
    width: 60%;
    height: 100%;
    display: flex;
    font-size: 1.2dvw;
    flex-direction: column;
    justify-content: center;
}
.cardContent div:first-of-type > span{
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(111, 122, 135);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
}
.cardContent div:last-of-type > p, h1{
 color: wheat;
}

#phone-nav {
    visibility: hidden;
}
/* ===================================
            Media Queries
    ================================= */

@media only screen and (-webkit-min-device-pixel-ratio: 2.625) {
    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        scroll-behavior: smooth;
    }
    @import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Raleway:ital,wght@1,100&family=Roboto+Mono:wght@300&family=Signika+Negative&display=swap');
    
    body {
        box-sizing: border-box;
        height: 100vh;
        font-family: 'Signika Negative', sans-serif;
    }
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    #logo-phone {
        visibility: visible;
        display: flex;
        justify-content: center;
    }

    #logo-phone-for {
        width: 32%;
        visibility: visible;
    }

    #phone-nav {
        visibility: visible;
        display: flex;
        justify-content: center;
        margin: 5px 0 5px 0;
        height: 4vh;
    }

    h1{
        display: flex;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
    p {
        font-weight: bold;
        font-size: smaller;
        color: wheat;
    }
    
    .menu:active {
        text-decoration: none;
    }
    
    .menu {
        display: none;
        gap: 1%;
        align-items: center;
        border:solid #fff;
        border-radius: 6px;
        gap: 14%;
        background-color: black;
        height: 70dvh;

    }
    
    .active {
        border-bottom: 2px solid wheat;
    }
    
    .menu a {
        color: wheat;
        text-decoration: none;
        font-size: 20px;
    }
    .menu > img{
        justify-content: flex-start;
    }
    #backGround{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        background-size: cover;
        background-image: url(../img/whiteLine.png);
        background-repeat: no-repeat;
        background-color: rgb(174, 168, 164);
    
    }
    #fullHeight{
        width: 100%;
        height: 200vh;
    }
    .fullDiv{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        font-size: 3vh;
    }

    .fullVis{
        background-color: rgb(0, 0, 0);
    
    }
    .insideDiv{
        width: 90%;
        height: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: space-between;
    }
    .insideDiv > div{
        width: 95%;
        height:75%;
        height: 40dvh;
        background-color: rgb(77, 76, 91);
        border-radius: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }   
    
    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        width: 100.5%;
    }
    
    .map-responsive iframe{
        left:0;
        right:0;
        top:0;
        width:100%;
        height: 24.4%;
        position:relative;
    }
    .parent {
        display: flex;
        width: 95%;
        height: 100dvh;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    div:has(.parent){
        width: 100%;    
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
    }
    .parent div:first-of-type{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }
    .parent div:first-of-type >img {
        width: 12dvw;
    }
    .div1,
    .div2,
    .div3,
    .div4{
        width: 50%;
        height: 50%;
    }
    .text{
        display: flex;
        text-align: center;
        color: whitesmoke;
        font-size: larger;
        margin: 20px;
    }
    
    .map-responsive2{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    
    .map-responsive2 iframe{
        left:0;
        top:0;
        height:80%;
        width:150%;
        position:absolute;
        display: none;
    }
    
    h4{
        display: flex;
        text-align: center;
        font-weight: bold;
        font-size: large;
        color: wheat;
    }
    
    footer p {
        color: wheat;
    }
    .cardContent{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .cardContent div:first-of-type{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .cardContent div:last-of-type{
        width: 60%;
        height: 100%;
        display: flex;
        font-size: 4dvw;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .cardContent div:first-of-type > span{
        width: 3.5rem;
        height: 3.5rem;
        background-color: rgb(111, 122, 135);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-top: 15px;
    }
    .cardContent div:last-of-type > p, h1{
     color: wheat;
    }
    #hittaOssDiv{
        display: none;
    }
}
